USE [dbventas]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 03/17/2020 14:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
	[Telefono] [varchar](12) NOT NULL,
	[Dni] [varchar](8) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] DISABLE CHANGE_TRACKING
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON
INSERT [dbo].[Cliente] ([IDCliente], [Nombre], [Apellido], [Direccion], [Telefono], [Dni]) VALUES (9, N'Juan Jose', N'Galvan', N'Aguado 1092', N'349222552', N'39500735')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
/****** Object:  Table [dbo].[Categoria]    Script Date: 03/17/2020 14:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[IDCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] DISABLE CHANGE_TRACKING
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON
INSERT [dbo].[Categoria] ([IDCategoria], [Nombre_categoria]) VALUES (4, N'Electronica')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
/****** Object:  StoredProcedure [dbo].[Backup_base]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Backup_base]
as
backup database [dbventas]
to disk =N'C:\DESARROLLO.LAUTARO\SisVentas\BackUp_Base\dbventas.bak'
with description  =N'Respaldo de la base de datos del Sistema de ventas',
noformat,
init,
name=N'dbventas',
skip,
norewind,
nounload,
stats=10,
checksum
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 03/17/2020 14:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Dni] [varchar](8) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
	[Telefono] [varchar](9) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Acceso] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] DISABLE CHANGE_TRACKING
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON
INSERT [dbo].[Usuario] ([IDUsuario], [Nombre], [Apellido], [Dni], [Direccion], [Telefono], [Login], [Password], [Acceso]) VALUES (8, N'Lautara', N'Galvan', N'39500735', N'Aguado', N'349222552', N'admin', N'123456', N'1')
INSERT [dbo].[Usuario] ([IDUsuario], [Nombre], [Apellido], [Dni], [Direccion], [Telefono], [Login], [Password], [Acceso]) VALUES (9, N'Osvaldo', N'DGenaro', N'11784642', N'Suipacha', N'349222254', N'usuario1', N'usuario1', N'1')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Table [dbo].[Ventas]    Script Date: 03/17/2020 14:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ventas](
	[IDVenta] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo_Documento] [varchar](50) NOT NULL,
	[Num_Documento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ventas] DISABLE CHANGE_TRACKING
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON
INSERT [dbo].[Ventas] ([IDVenta], [IDCliente], [Fecha], [Tipo_Documento], [Num_Documento]) VALUES (42, 9, CAST(0xDC400B00 AS Date), N'Factura', N'123')
INSERT [dbo].[Ventas] ([IDVenta], [IDCliente], [Fecha], [Tipo_Documento], [Num_Documento]) VALUES (43, 9, CAST(0xDC400B00 AS Date), N'Factura', N'789789')
INSERT [dbo].[Ventas] ([IDVenta], [IDCliente], [Fecha], [Tipo_Documento], [Num_Documento]) VALUES (44, 9, CAST(0xDC400B00 AS Date), N'Factura', N'1485')
SET IDENTITY_INSERT [dbo].[Ventas] OFF
/****** Object:  StoredProcedure [dbo].[Validar_usuario]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Validar_usuario]
@Login varchar (50),
@Password varchar(50)
as
select * from Usuario
where Login = @Login and password = @Password and Acceso = '1'
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_usuario]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Mostrar_usuario]
as
select * from Usuario order by IDUsuario desc
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_cliente]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Mostrar_cliente]
as 
select * from Cliente order by IDCliente desc
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_categoria]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Mostrar_categoria]
as
Select * from Categoria order by IDCategoria desc
GO
/****** Object:  StoredProcedure [dbo].[Insertar_cliente]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insertar_cliente]
@Nombre varchar(50),
@Apellido varchar (50),
@Direccion varchar (100),
@Telefono varchar (12),
@Dni varchar (8)
as
insert into Cliente (Nombre, Apellido,Direccion,Telefono,Dni) values (@Nombre, @Apellido, @Direccion,@Telefono,@Dni)
GO
/****** Object:  StoredProcedure [dbo].[Insertar_categoria]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insertar_categoria]
@Nombre_Categoria varchar (50)
as 
insert into Categoria (Nombre_categoria) values (@Nombre_Categoria)
GO
/****** Object:  StoredProcedure [dbo].[Insertar_usuario]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insertar_usuario]
@Nombre as varchar(50),
@Apellido as varchar(50),
@Dni as varchar(8),
@Direccion as varchar(150),
@Telefono as varchar(9),
@Login as varchar(50),
@Password as varchar(50),
@Acceso as varchar(1)
as
insert into Usuario (Nombre,Apellido,Dni,Direccion,Telefono,Login,Password,Acceso)
values (@Nombre,@Apellido,@Dni,@Direccion,@Telefono,@Login,@Password,@Acceso)
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 03/17/2020 14:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[IDproducto] [int] IDENTITY(1,1) NOT NULL,
	[IDCategoria] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[Stock] [decimal](18, 2) NOT NULL,
	[Precio_Compra] [decimal](18, 2) NOT NULL,
	[Precio_Venta] [decimal](18, 2) NOT NULL,
	[Fecha_Vencimiento] [date] NOT NULL,
	[Imagen] [image] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IDproducto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos] DISABLE CHANGE_TRACKING
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON
SET IDENTITY_INSERT [dbo].[Productos] OFF
/****** Object:  StoredProcedure [dbo].[Eliminar_usuario]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Eliminar_usuario]
@IDUsuario as int
as
delete from Usuario where IDUsuario = @IDUsuario
GO
/****** Object:  StoredProcedure [dbo].[Editar_usuario]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Editar_usuario]
@IDUsuario as int,
@Nombre as varchar(50),
@Apellido as varchar(50),
@Dni as varchar(8),
@Direccion as varchar(150),
@Telefono as varchar(9),
@Login as varchar(50),
@Password as varchar(50),
@Acceso as varchar(1)
as
Update Usuario set Nombre = @Nombre, Apellido = @Apellido, Dni = @Dni, Direccion = @Direccion,
Telefono = @Telefono, Login = @Login, Password = @Password, Acceso = @Acceso
where IDUsuario = @IDUsuario
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_cliente]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Eliminar_cliente]
@IDCliente as integer
as
delete from Cliente where IDCliente = @IDCliente
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_categoria]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Eliminar_categoria]
@IDCategoria as integer
as
delete from Categoria where IDCategoria = @IDCategoria
GO
/****** Object:  StoredProcedure [dbo].[Editar_cliente]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Editar_cliente]
@IDCliente integer,
@Nombre varchar (50),
@Apellido varchar (50),
@Direccion varchar (150),
@Telefono varchar (12),
@Dni varchar (8)
as 
update Cliente set Nombre = @Nombre, Apellido = @Apellido, Direccion = @Direccion, Telefono = @Telefono, Dni = @Dni
where IDCliente = @IDCliente
GO
/****** Object:  StoredProcedure [dbo].[Editar_categoria]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Editar_categoria]
@IDCategoria as integer, 
@Nombre_Categoria varchar (50)
as
update Categoria set Nombre_categoria = @nombre_Categoria 
where IDCategoria = @IDCategoria
GO
/****** Object:  StoredProcedure [dbo].[Aumentar_stock]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Aumentar_stock]
@IDProducto as integer,
@Cantidad as decimal (18,2)
as 
update Productos set Stock = Stock + @Cantidad where IDproducto = @IDProducto
GO
/****** Object:  StoredProcedure [dbo].[Disminuir_stock]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Disminuir_stock]
@IDProducto as integer,
@Cantidad as decimal (18,2)
as 
update Productos set Stock = Stock - @Cantidad where IDproducto = @IDProducto
GO
/****** Object:  Table [dbo].[Detalle_Venta]    Script Date: 03/17/2020 14:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Venta](
	[IDDetalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[IDVenta] [int] NULL,
	[IDProducto] [int] NULL,
	[Cantidad] [decimal](18, 2) NULL,
	[Precio_Unitario] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Detalle_Venta] PRIMARY KEY CLUSTERED 
(
	[IDDetalle_venta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detalle_Venta] DISABLE CHANGE_TRACKING
GO
SET IDENTITY_INSERT [dbo].[Detalle_Venta] ON
INSERT [dbo].[Detalle_Venta] ([IDDetalle_venta], [IDVenta], [IDProducto], [Cantidad], [Precio_Unitario]) VALUES (44, 46, 10, CAST(1.00 AS Decimal(18, 2)), CAST(3250.00 AS Decimal(18, 2)))
INSERT [dbo].[Detalle_Venta] ([IDDetalle_venta], [IDVenta], [IDProducto], [Cantidad], [Precio_Unitario]) VALUES (45, 47, 11, CAST(1.00 AS Decimal(18, 2)), CAST(8154.00 AS Decimal(18, 2)))
INSERT [dbo].[Detalle_Venta] ([IDDetalle_venta], [IDVenta], [IDProducto], [Cantidad], [Precio_Unitario]) VALUES (46, 48, 10, CAST(1.00 AS Decimal(18, 2)), CAST(3250.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Detalle_Venta] OFF
/****** Object:  StoredProcedure [dbo].[Editar_venta]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Editar_venta]
@IDVenta as integer,
@IDCliente as integer,
@Fecha as date,
@Tipo_Documento as varchar (50),
@Num_Documento as varchar (50)
as 
update Ventas set IDCliente = @IDCliente, Fecha = @Fecha, 
Tipo_Documento = @Tipo_Documento, Num_Documento = @Num_Documento
where IDCliente = @IDCliente
GO
/****** Object:  StoredProcedure [dbo].[Editar_producto]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Editar_producto]
@IDProducto as integer,
@IDCategoria as integer,
@Nombre as varchar(50),
@Descripcion as varchar (150),
@Stock as decimal(18,2),
@Precio_Compra as decimal (18,2),
@Precio_Venta as decimal (18,2),
@Fecha_Vencimiento as date,
@Imagen as image
as
update Productos set IDCategoria = @IDCategoria, Nombre = @Nombre, Descripcion = @Descripcion,
Stock = @Stock, Precio_Compra = @Precio_Compra, Precio_Venta = @Precio_Venta, Fecha_Vencimiento = @Fecha_Vencimiento,
Imagen = @Imagen
where IDproducto = @IDProducto
GO
/****** Object:  StoredProcedure [dbo].[Generar_codigo]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Generar_codigo](
@Num_Documento varchar(5) output)
as begin
   declare @Cant int 
   set @Cant =(Select COUNT(*) from Ventas)
     begin
        if((select COUNT(*) from ventas)= 0)
          set @Num_Documento = 'V001'
        else 
          begin
            set @Num_Documento=(Select MAX(SUBSTRING(Num_Documento,2,3)) from Ventas where LEFT(Num_Documento,1)='V')
            set @Num_Documento=LEFT('V',2)+RIGHT('00'+CAST(cast(@Num_Documento as int)+1 as varchar (5)),3)
        end
     end
   end
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_venta]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Eliminar_venta]
@IDVenta as integer
as
delete from Ventas where IDVenta = @IDVenta
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_producto]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Eliminar_producto]
@IDProducto as integer
as
delete from Productos where IDproducto = @IDProducto
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_venta]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Mostrar_venta]
as
SELECT      dbo.Ventas.IDVenta, dbo.Ventas.IDCliente, dbo.Cliente.Apellido, dbo.Cliente.Dni, dbo.Ventas.Fecha, dbo.Ventas.Tipo_Documento, dbo.Ventas.Num_Documento
FROM         dbo.Ventas INNER JOIN
                      dbo.Cliente ON dbo.Ventas.IDCliente = dbo.Cliente.IDCliente
                      order by dbo.Ventas.IDVenta desc
GO
/****** Object:  StoredProcedure [dbo].[Insertar_producto]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insertar_producto]
@IDCategoria as integer,
@Nombre as varchar(50),
@Descripcion as varchar (150),
@Stock as decimal(18,2),
@Precio_Compra as decimal (18,2),
@Precio_Venta as decimal (18,2),
@Fecha_Vencimiento as date,
@Imagen as image
as
insert into Productos(IDCategoria,Nombre,Descripcion,Stock,Precio_Compra,Precio_Venta,Fecha_Vencimiento,Imagen)
values (@IDCategoria, @Nombre,@Descripcion,@Stock,@Precio_Compra,@Precio_Venta,@Fecha_Vencimiento,@Imagen)
GO
/****** Object:  StoredProcedure [dbo].[Insertar_venta]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insertar_venta]
@IDCliente as integer,
@Fecha as date,
@Tipo_Documento as varchar (50),
@Num_Documento as varchar (50)
as 
insert into Ventas (IDCliente, Fecha, Tipo_Documento, Num_Documento) 
values (@IDCliente, @Fecha, @Tipo_Documento, @Num_Documento)
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_producto]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Mostrar_producto]
as
select Productos.IDproducto, Productos.IDCategoria, Categoria.Nombre_categoria, Productos.Nombre, Productos.Descripcion, 
Productos.Stock, Productos.Precio_Compra, Productos.Precio_Venta, Productos.Fecha_Vencimiento, Productos.Imagen
from Productos inner join Categoria on Productos.IDCategoria = Categoria.IDCategoria
order by Productos.IDproducto desc
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_detalleventa]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Mostrar_detalleventa]
as
SELECT     dbo.Detalle_Venta.IDDetalle_venta, dbo.Detalle_Venta.IDVenta, dbo.Detalle_Venta.IDProducto, dbo.Productos.Nombre, dbo.Detalle_Venta.Cantidad, 
                      dbo.Detalle_Venta.Precio_Unitario
FROM         dbo.Detalle_Venta INNER JOIN
                      dbo.Productos ON dbo.Detalle_Venta.IDProducto = dbo.Productos.IDproducto
                       order by dbo.Detalle_Venta.IDDetalle_venta desc
GO
/****** Object:  StoredProcedure [dbo].[Insertar_detalleventa]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insertar_detalleventa]
@IDVenta as integer,
@IDProducto as integer,
@Cantidad as decimal(18,2),
@Precio_Unitario as decimal (18,2)
as
insert into Detalle_Venta (IDVenta,	IDProducto, Cantidad,Precio_Unitario) 
values (@IDVenta, @IDProducto,@Cantidad,@Precio_Unitario)
GO
/****** Object:  StoredProcedure [dbo].[Generar_Comprobante]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Generar_Comprobante]
@IDVenta int
as
SELECT     dbo.Ventas.IDVenta, dbo.Cliente.Nombre, dbo.Cliente.Apellido, dbo.Cliente.Dni, dbo.Ventas.Fecha, dbo.Ventas.Tipo_Documento, dbo.Ventas.Num_Documento, 
                      dbo.Productos.Nombre AS Descripcion, dbo.Detalle_Venta.Cantidad, dbo.Detalle_Venta.Precio_Unitario, 
                      dbo.Detalle_Venta.Cantidad * dbo.Detalle_Venta.Precio_Unitario AS Total_Parcial
FROM         dbo.Ventas INNER JOIN
                      dbo.Detalle_Venta ON dbo.Ventas.IDVenta = dbo.Detalle_Venta.IDVenta INNER JOIN
                      dbo.Productos ON dbo.Detalle_Venta.IDProducto = dbo.Productos.IDproducto INNER JOIN
                      dbo.Cliente ON dbo.Ventas.IDCliente = dbo.Cliente.IDCliente
                      
                      where dbo.Ventas.IDVenta = @IDVenta
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_detalleventa]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Eliminar_detalleventa]
@IDDetalle_venta as integer
as
delete from Detalle_Venta where IDDetalle_venta = @IDDetalle_venta
GO
/****** Object:  StoredProcedure [dbo].[Editar_detalleventa]    Script Date: 03/17/2020 14:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Editar_detalleventa]
@IDDetalle_venta as integer,
@IDVenta as integer,
@IDProducto as integer,
@Cantidad as decimal(18,2),
@Precio_Unitario as decimal (18,2)
as
update Detalle_Venta set IDVenta = @IDVenta,IDProducto = @IDProducto, 
Cantidad = @Cantidad,Precio_Unitario = @Precio_Unitario
where IDDetalle_venta = @IDDetalle_venta
GO
/****** Object:  ForeignKey [FK_Detalle_Venta_Productos]    Script Date: 03/17/2020 14:18:31 ******/
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Venta_Productos] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDproducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalle_Venta] CHECK CONSTRAINT [FK_Detalle_Venta_Productos]
GO
/****** Object:  ForeignKey [FK_Detalle_Venta_Ventas1]    Script Date: 03/17/2020 14:18:31 ******/
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Venta_Ventas1] FOREIGN KEY([IDVenta])
REFERENCES [dbo].[Ventas] ([IDVenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalle_Venta] CHECK CONSTRAINT [FK_Detalle_Venta_Ventas1]
GO
/****** Object:  ForeignKey [FK_Productos_Categoria]    Script Date: 03/17/2020 14:18:31 ******/
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categoria] ([IDCategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
/****** Object:  ForeignKey [FK_Ventas_Cliente]    Script Date: 03/17/2020 14:18:31 ******/
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Cliente] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([IDCliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Cliente]
GO
